.content {
  max-width: 1350px;
  padding: 100px 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.container {
  background-color: #FAE9FF;
  overflow: hidden;
  position: relative;
}

.form{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: relative;
  z-index: 10;

  & > h1 {
    font-family: "Cormorant Garamond", serif;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 42px;
    color: #3C164F;
  }

  & > input {
    width: 575px;
    padding: 30px 22px;
    outline: none;
    border: none;
    font-size: 18px;
  }

  & > button {
    margin-top: 15px;
    width: 100%;
    padding: 15px 0;
    background-color: #3C164F;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
}

.alreadyHaveAnAccount{
  margin-top: 5px;
  margin-bottom: 23px;
  font-size: 18px;
  color: #3C164F;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  gap: 5px;

  font-family: Poppins, sans-serif;

  & > .link {
    text-decoration: underline;
    color: #3C164F;
  }
}

.termsOfUse {
  font-size: 16px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #3C164F;
  font-weight: 500;
}

.personImg{
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 5;
}

.flowersImg{
  position: absolute;
  bottom: -50px;
  right: 0;
}

.leftParticlesImg{
  position: absolute;
  top: -5px;
  left: 0;
}

.rightParticlesImg{
  position: absolute;
  top: -5px;
  right: 0;
}

.leftBParticlesImg {
  position: absolute;
  bottom: -50px;
  left: 0;
}
