.content {
  max-width: 1350px;
  padding: 100px 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.container {
  background-color: #FAE9FF;
  overflow: hidden;
  position: relative;
}

.form{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: relative;
  z-index: 10;

  & > h1 {
    font-family: "Cormorant Garamond", serif;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 42px;
    color: #3C164F;
  }

  & > input {
    width: 575px;
    padding: 30px 22px;
    outline: none;
    border: none;
    font-size: 18px;
  }

  & > button {
    margin-top: 15px;
    width: 100%;
    padding: 15px 0;
    background-color: #3C164F;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
}

.alreadyHaveAnAccount{
  margin-top: 5px;
  margin-bottom: 23px;
  font-size: 18px;
  color: #3C164F;
  font-weight: 500;
  cursor: pointer;

  display: flex;
  gap: 5px;

  font-family: Poppins, sans-serif;

  & > .link {
    text-decoration: underline;
    color: #3C164F;
  }
}

.termsOfUse {
  font-size: 16px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #3C164F;
  font-weight: 500;
}

.personImg{
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 5;
}

.flowersImg{
  position: absolute;
  bottom: -50px;
  right: 0;
}

.leftParticlesImg{
  position: absolute;
  top: -5px;
  left: 0;
}

.rightParticlesImg{
  position: absolute;
  top: -5px;
  right: 0;
}

.leftBParticlesImg {
  position: absolute;
  bottom: -50px;
  left: 0;
}

.forgotPasswordLink {
  text-align: right;
  width: 100%;
  color: #3C164F;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1391px) {
  .rightParticlesImg{
    width: 359px;
  }
  .leftParticlesImg{
    width: 266px;
  }
  .leftBParticlesImg{
    width: 429px;
  }
  .flowersImg{
    width: 183px;
  }
  .forgotPasswordLink{
    font-size: 12px;
  }
  .link{
    font-size: 10px;
  }

  .form{
    margin-right: 112px;
    width: 360px;
    gap: 0;
    & > button{
      padding: 5px 136.5px;
      width: 306px;
    }
    & > input{
      width: 306px;
    }
    & > img{
      width: 119px;
      margin: 0;
    }
    & > h1{
      font-size: 30px;
    }
    .alreadyHaveAnAccount{
      & > span{
        font-size: 10px;
      }
    }
  }
  .personImg{
    width: 530px;
  }
}
@media (max-width: 1020px) {
  .personImg{
    position: static;
    z-index: 5;
    align-items: center;
    margin: 0 auto;
  }
  .block{
    position: absolute;
  }
  .form{
    margin: 0 auto;
    width: 700px;
    align-items: initial;
    & > img{
      max-width: 130px;
    }
    & > h1 {
      font-size: 32px;
    }
  
    & > input {
      width: 100%;
      height: 60px;
      margin-bottom: 20px;
    }
  
    & > button {
      margin-top: 15px;
      width: 100%;
      padding: 15px 0;
      background-color: #3C164F;
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }
  }
  .forgotPasswordLink{
    width: 100%;
    font-size: 12px;
    text-align: right;
  }
  .leftParticlesImg{
    display: none;
  }
  .leftBParticlesImg{
    display: none;
  }
  .flowersImg{
    display: none;
  }
}

@media (max-width: 576px) {
  .personImg{
    position: static;
    margin: 0 auto;
    z-index: 50;
    max-width: 371.58px;
    max-height: 316.47px  ;
  }
  .block{
    position: static;
  }
  .rightParticlesImg{
    width: 50%;
  }
  .form{
    margin: 0 auto;
    max-width: 400px;
    align-items: center;
    & > img{
      max-width: 130px;
    }
    & > h1 {
      font-size: 32px;
    }
  
    & > input {
      width: 100%;
      height: 60px;
      margin-bottom: 20px;
    }
  
    & > button {
      margin-top: 15px;
      width: 100%;
      padding: 15px 0;
      background-color: #3C164F;
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }
  }
  .forgotPasswordLink{
    width: 100%;
    font-size: 12px;
    text-align: right;
  }
  .alreadyHaveAnAccount{
    font-size: 12px;
    
  }
  .termsOfUse{
    font-size: 12px;
  }
}

