.hero {
  background-color: #FDF6FF;
  padding: 150px 0 300px 0;
  overflow: hidden;
}

.hero_container {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.autocomplete{
  width: 705px;
  margin-top: 15px;
}

.hero_title {
  max-width: 718px;
  margin-bottom: 25px;
  font-size: 58px;
  color: #3C164F;
  font-family: "Cormorant Garamond", serif;
}

.hero_subtitle {
  font-size: 20px;
  max-width: 509px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.hero_description {
  max-width: 816px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #555555;
}

.hero_button {
  margin-top: 15px;
}

.hero_person_img {
  position: absolute;
  right: -50px;
  bottom: -150px;
  z-index: 10;
}

.hero_starLeft_img {
  position: absolute;
  left: -130px;
  top: -120px;
}

.hero_starBetween_img {
  position: absolute;
  left: 675px;
  bottom: -50px;
}

.hero_starRight_img {
  position: absolute;
  right: -150px;
  top: -120px;
}

.hero_arrowRight_img {
  position: absolute;
  right: 340px;
  bottom: -150px;
}

.hero_bottleImg_img {
  position: absolute;
  right: -520px;
  top: -190px;
}

.hero_branchImg_img {
  position: absolute;
  right: 350px;
  bottom: -30px;
}

.hero_rightBrunchImg_img {
  position: absolute;
  left: -250px;
  bottom: -150px;
}

.hero_buttons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
  &::after{
    content: "";
    width: 60px;
    height: 1px;
    background-color: #3C164F;
    position: absolute;
    left: 150px;
    top: 60%;
  }
}

.hero_button{
  padding: 15px 30px;
  color: white;
  background-color: #3C164F;
  border: none;
  font-weight: 500;
  height: 54px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

.hero_button_play {
  margin-top: 15px;
  border: none;
  height: 54px;

  background-color: transparent;
  cursor: pointer;

  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: #3C164F;
}

.hero_button_play_img{
  width: 54px;
  height: 54px;
  color: #3C164F;
}
@media (max-width: 1250px) {
  .hero_container {
    position: relative;
  }
  .hero {
    padding-top: 110px;
    padding-bottom: 200px;
  }
  .hero_subtitle {
    font-size: 18px;
    max-width: 800px;
    text-align: center;
  }
  .hero_text {
    width: 60%;
    .hero_title {
      font-size: 30px;
      margin-left: 45px;
      margin-bottom: 15px;
    }
    .hero_subtitle{
      width: 70%;
      font-size: 16px;
      margin-left: 60px;
      text-align: start;
    }
    .hero_description{
      font-size: 14px;
      margin-left: 60px;
      text-align: start;
      width: 85%;
      margin-bottom: 15px;
    }
    .hero_buttons{
      margin-left: 60px;
    }
  }
  .hero_starBetween_img {
    position: absolute;
    left: 480px;
    bottom: 0;
  }
  .hero_title > img:first-of-type {
    width: 130px;
    height: 60px;
    margin-left: 5px;
  }
  .hero_description {
    text-align: center;
  }
  .hero_person_img {
    width: 300px;
    top: 50px;
    right: 100px;
  }
  .hero_bottleImg_img {
    width: 700px;
    top: -150px;
    right: -380px;
  }
  .hero_title {
    padding: 0px 20px;
    font-size: 24px;
    align-items: center;
    & > img {
      width: 98px;
      height: 40px;
    }
  }
  .hero_branchImg_img {
    right: 352px;
    bottom: -80px;
  }
  .hero_arrowRight_img {
    right: 370px;
    bottom: -150px;
    width: 160px;

  }
  .hero_descriptionMiddle {
    display: block;
    max-width: 816px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #555555;
    text-align: center;
    margin: 0px 20px;
  }
}

@media (max-width: 1170px) {
  .hero {
    padding-top: 110px;
  }
  .hero_subtitle {
    font-size: 18px;
    max-width: 800px;
    text-align: center;
  }
  .hero_text {
    width: 60%;
    .hero_title {
      font-size: 40px;
      margin-left: 45px;
      margin-bottom: 15px;
    }
    .hero_subtitle{
      width: 70%;
      font-size: 16px;
      margin-left: 60px;
      text-align: start;
    }
    .hero_description{
      font-size: 14px;
      margin-left: 60px;
      text-align: start;
      width: 85%;
      margin-bottom: 15px;
    }
    .hero_buttons{
      margin-left: 60px;
    }
  }
  .hero_starBetween_img {
    position: absolute;
    left: 480px;
    bottom: 10px;
  }
  .hero_title > img:first-of-type {
    width: 130px;
    height: 60px;
    margin-left: 5px;
  }
  .hero_description {
    text-align: center;
  }
  .hero_person_img {
    width: 250px;
    top: 20px;
    right: 130px;
  }
  .hero_bottleImg_img {
    width: 500px;
    top: -100px;
    right: -200px;
  }
  .hero_title {
    padding: 0px 20px;
    font-size: 24px;
    align-items: center;
    & > img {
      width: 98px;
      height: 40px;
    }
  }
  .hero_branchImg_img {
    width: 80px;
    right: 352px;
    bottom: 40px;
    
  }
  .hero_arrowRight_img {
    right: 350px;
    bottom: -20px;
    width: 90px;
  }
  .hero_descriptionMiddle {
    display: block;
    max-width: 816px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #555555;
    text-align: center;
    margin: 0px 20px;
  }
}
@media (max-width: 1003px) {
  .hero{
    padding-bottom: 700px;
  }
  .hero_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero_person_img{
    width: 300px;
    top: 550px;
    right: 250px;
  }
  .hero_bottleImg_img {
    width: 700px;
    top: 350px;
    right: -238px;
  }
  .hero_branchImg_img {
    right: 500px;
    bottom: -500px;
    width: 120px;
  }
  .hero_arrowRight_img {
    right: 510px;
    bottom: -530px;
    width: 120px;
  }
  .hero_starBetween_img{
    display: none;
  }
}

@media (max-width: 927px) {
  .hero_text {
    width: 60%;
    .hero_title {
      font-size: 27px;
      margin-left: 45px;
      margin-bottom: 15px;
    }
    .hero_subtitle{
      font-size: 14px;
    }
    .hero_person_img{
      width: 200px;
      margin-top: 250px;
      margin-left: 140px;
    }
}
}
@media (max-width: 779px) {
  .hero_branchImg_img {
    right: 350px;
    bottom: -400px;
    width: 120px;
  }
  .hero_arrowRight_img {
    display: none;
  }
  .hero{
    padding-bottom: 500px;
  }
  .hero_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .hero_person_img{
      width: 239.91px;
      height: 349px;
      right: 150px;
      top: 400px;
    }
  }
  .hero_bottleImg_img{
    width: 420px;
    height: 454.55px;
    top: 310px;
    right: -100px;
  }
  .hero_text {
    width: 100%;
    .hero_title {
    padding: 0;
    font-size: 31px;
    margin-bottom: 25px;
    margin-left: 20px;
  
    & > img:first-of-type {
      width: 120px;
      height: 55px;
    }
  
    & > img:last-of-type {
      width: 96px;
      height: 36px;
    }
  }
  .hero_subtitle{
    font-size: 18px;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    width: 92%;
  }
  .hero_description{
    display: none;
  }
  .hero_buttons{
    margin-left: 20px;
  }
  .hero_branchImg_img{
    display: none;
  }
  .hero_arrowRight_img{
    display: none;
  }
  .hero_person_img{
    position: static;
    width: 239.91px;
  }
}
}
.checkCompatibility {
  background-color: white;
  padding: 120px 0;
}

.checkCompatibilityContainer {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  & > button {
    padding: 15px 0;
    width: 705px;
    color: white;
    background-color: #3C164F;
    border: none;
    font-weight: 500;
    height: 54px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    cursor: pointer;
  }
}

.checkCompatibilityTitle {
    font-size: 50px;
    color: #3C164F;
    font-family: "Cormorant Garamond", serif;
}

.checkCompatibilityDescription {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #555555;
    max-width: 610px;
}
@media (max-width: 1024px) {
  .checkCompatibility {
    background-color: white;
    padding: 50px 0;
  }
  .skincareOptimizerTextParagraphMiddle{
    display: none;
  }
  .checkCompatibilityDescription{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
  }
  .checkCompatibilityContainer{
    & > button{
      margin-top: 19px;
    }
  }

}
@media (max-width: 950px) {
  .skincareOptimizerTextParagraphMiddle{
    display: block;
    font-size: 16px;
    text-align: start;
  }
}

@media (max-width: 576px) {
  .checkCompatibilityTitle{
    font-size: 32px;
    text-align: center;
  }
  .checkCompatibilityContainer{
    & > button{
      width: 390px;
    }
  }
}
.skincareIngredientsCarusel{
  display: none;
}
.skincareOptimizerContainer {
  background-color: #FDF6FF;
  padding: 100px 0;
}

.skincareOptimizerText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 580px;

  & > h2 {
    font-size: 58px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
  }

  & > p {
    font-size: 16px;
    color: #555555;
    font-family: Poppins, sans-serif;
  }
}

.skincareOptimizerContent {
  max-width: 1350px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > button {
    padding: 15px 30px;
    background-color: #3C164F;
    color: white;
    font-family: Poppins, sans-serif;
    cursor: pointer;
  }
}
@media (max-width: 1250px) {
  .skincareOptimizerTextParagraphMiddle{
    display: none;
  }
  .skincareOptimizerText{
    & > h2{
      font-size: 32px;
      text-align: center;
    }
    .skincareOptimizerTextParagraphMiddle{
      font-size: 16px;
      color: #555555;
      font-family: Poppins, sans-serif;
      text-align: center;
      margin: 0px 20px 30px;
    }
  }
  .skincareOptimizerContent{
    margin: 0px 60px;
    .skincareOptimizerText{
      & > h2{
        font-size: 35px;
        text-align: start;
      }
    }
  }
}
@media (max-width: 1024px) {
  .skincareOptimizerText{
    & > h2{
      font-size: 32px;
      text-align: center;
    }
    .skincareOptimizerTextParagraphMiddle{
      font-size: 16px;
      color: #555555;
      font-family: Poppins, sans-serif;
      text-align: center;
      margin: 0px 20px 30px;
    }
  }
  .skincareOptimizerContent{
    margin: 0px 60px;
    .skincareOptimizerText{
      & > h2{
        font-size: 35px;
        text-align: start;
      }
    }
  }
}
.favouriteProducts {
  padding: 120px 0;
  background-color: white;
}

.favouriteProductsContent {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  & > h2 {
    text-align: center;
    font-size: 50px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
    margin-bottom: 50px;
  }
}

.favouriteProductsButton {
  & > button {
    padding: 15px 30px;
    background-color: #3C164F;
    color: white;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border: none;
  }

  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .favouriteProducts {
    padding: 100px 0;
  }
  .favouriteProductsContent{
    & > h2{
    font-size: 32px;
    text-align: center;
  }
  .favouriteProductsContent { 
    & > h2 {
      margin-bottom: 30px;
    }
  }
  
}
}
@media (max-width: 576px) {
  .favouriteProducts {
    padding: 50px 0;
  }
  .favouriteProductsContent{
    & > h2{
      margin-bottom: 30px;
    }
  }
  .favouriteProductsButton{
    margin-top: 30px;
  }
}
.joinOurCommunity {
  padding: 120px 0;
  background-color: white;
  margin-bottom: 140px;
}
.joinOurCommunityContent {
    max-width: 1350px;
    margin: 0 auto;
}
.joinOurCommunityBlocks {
  display: flex;
  gap: 20px;
  margin-bottom: 140px;
}

.joinOurCommunityBlock {
  width: 254px;
  white-space: nowrap;
  padding: 35px 50px;
  background-color: #3C164F;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;

  & > span {
    color: white;
    font-size: 28px;
    font-family: "Cormorant Garamond", sans-serif;
  }
}

.joinOurCommunityBlockImg {
  width: 65px;
  margin-right: 20px;
  height: 65px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;

  & > img {
    position: absolute;
    bottom: -20px;
    left: 20px;
  }
}

.joinOurCommunityBlockContainer {
  background-color: white;
  position: relative;
}

.joinOurCommunityBlockContent {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 100%;
  padding: 140px;
  position: absolute;
  bottom: -240px;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);

  & > button {
    padding: 15px 50px;
    background-color: #3C164F;
    color: white;
    font-family: Poppins, sans-serif;
    cursor: pointer;
  }
}
.joinOurCommunitySwiper{
  display: none;
}
.joinOurCommunityBlockText{
  max-width: 610px;

  & > h2 {
    font-size: 50px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
    margin-bottom: 15px;
  }

  & > p {
    font-size: 16px;
    color: #555555;
    font-family: Poppins, sans-serif;
  }
}
@media (max-width: 1271px) {
  .joinOurCommunityBlockContent{
    width: 90%;
    padding: 0;
    height: 250px;
    bottom: -240px;
    right: 50%;
  }
  .joinOurCommunityBlock{
    width: 170px;
    padding: 21px 65px;
    gap: 13px;
    & > span{
      font-size: 20px;
      margin-top: 14px;
    }
    .joinOurCommunityBlockImg{
      padding: 10px 10px;
      width: 50px;
      height: 50px;
      & > img{ 
        width: 40px;
        left: 20px;
        bottom: -9px; 
      }
    }
  }
  .joinOurCommunityBlockContent{
    padding: 0px 40px;
  }
  .joinOurCommunityBlockText{
    & > h2{
      font-size: 35px;
    }
    & > p{
      width: 60%;
      font-size: 14px;
    }
  }
}
@media (max-width: 950px) {
  .joinOurCommunitySwiper{
    margin-bottom: 70px;
  }
  .joinOurCommunitySwiper{
    display: block;
  }
  .joinOurCommunityBlocks{
    display: none;
  }
  .joinOurCommunityBlockContent {
    flex-direction: column;
    height: 275px;
    width: 90%;
    gap: 0;
    padding: 0;
    & > button{
      margin-bottom: 100px;
      margin-top: 30px;
    }
    .joinOurCommunityBlockText{
      display: flex;
      flex-direction: column;
      & > h2{
        margin-top: 25px;
        text-align: center;
        margin-bottom: 15px;
      }
      & > p{
        font-size: 18px;
      }
    }
  }
  .joinOurCommunitySwiper{
    margin-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .joinOurCommunityBlocks{
    display: none;
  }
  .joinOurCommunitySwiper{
    display: block;
  }
  .joinOurCommunityBlockContainer{
    background-color: white;
    padding-top: 50px;
    position: relative;
    .joinOurCommunityBlockContent{
      width: 90%;
      flex-direction: column;
      height: 256px;
      padding: 0;
      justify-content: center;
      & > button{
        margin-bottom: 50px;
        margin-top: 30px;
      }
      .joinOurCommunityBlockText{
        display: flex;
        flex-direction: column;
        & > h2{
          font-size: 32px;
          margin-top: 50px;
          text-align: center;
          margin-bottom: 15px;
        }
        & > p{
          font-size: 16px;
          margin: 0px 20px 30px;
        }
      }
    }
  }
  .joinOurCommunity{
    padding-top: 50px;
  }
  .joinOurCommunityBlock{
    width: 254px;
    height: 180px;
    .joinOurCommunityBlockImg{
      margin-right:150px ;
    }
  }
}
.skincareIngredients{
  background-color: white;
  padding-bottom: 120px;
}
.skincareIngredientsContent {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  & > h2 {
    font-size: 50px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
    margin-bottom: 10px;
    max-width: 730px;
    text-align: center;
  }

  & > p {
    font-size: 16px;
    color: #555555;
    font-family: Poppins, sans-serif;
    max-width: 814px;
    text-align: center;
  }

  & > button {
    padding: 15px 30px;
    background-color: #3C164F;
    color: white;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border: none;
  }
}
.skincareIngredientsBlocks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 50px;
}
.skincareIngredientsBlock {
  padding: 30px;
  background-color: #FDF6FF;

  & > h3 {
    font-size: 28px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #a6a6a6;
      bottom: -15px;
      left: 0;
    }
  }

  & > p {
    font-size: 16px;
    color: #555555;
    font-family: Poppins, sans-serif;
    max-width: 255px;
  }

  & > div {
    background-color: rgba(60, 22, 79, 0.1);
    max-width: 144px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #3C164F;
    font-family: Poppins, sans-serif;
    margin-top: 10px;
  }
}
@media (max-width: 1250px) {
  .skincareIngredientsBlocks{
    gap: 20px;
  }
  .skincareIngredientsContent{
    margin: 0px 40px;
    & > h2{
      width: 60%;
      font-size: 40px;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    & > p{
      width: 60%;
      font-size: 16px;
      margin-bottom: 23px;
    }
    & > button{
      margin-bottom: 100px;
    }
  }
  .skincareIngredientsBlock{
    & > div{
      font-size: 16px;
    }
    & > h3{
      font-size: 24px;
    }
    & > p{
      font-size: 14px;
    }
  }
}
@media (max-width: 1024px) {
  .skincareIngredientsBlocks{
    gap: 10px;
  }
  .skincareIngredientsContent{
    margin: 0px 40px;
    & > h2{
      width: 63%;
      font-size: 40px;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    & > p{
      width: 60%;
      font-size: 14px;
      margin-bottom: 23px;
    }
    & > button{
      margin-bottom: 100px;
    }
  }
  .skincareIngredientsBlock{
    & > div{
      font-size: 14px;
    }
    & > h3{
      font-size: 20px;
    }
    & > p{
      font-size: 12px;
    }
  }
  .checkCompatibilityContainer{
    & > button{
      width: 70%;
    }
  }
}
@media (max-width: 576px) {
  .skincareIngredientsBlocks{
    display: none;
  }
  .skincareIngredientsCarusel {
    display: block;
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
  }
  .skincareIngredientsBlock{
    width: 307px;
  }
  .skincareIngredients{
    padding-bottom: 50px;
  }
}
.hero_descriptionMiddle{
  display: none;
}
.autocomplete {
  width: 705px;
  height: 58px;
  margin-top: 15px;
}

.skinPotential {
  padding: 120px 0;
  background-color: rgba(253, 246, 255, 1);
}

.skinPotentialContent {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.skinPotentialBlocks {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  max-width: 568px;
  flex-wrap: wrap;
  gap: 30px;
}

.skinPotentialBlocksColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;

  &:last-child {
    margin-top: 50px;
  }
}
.skinPotentialBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  width: 269px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  align-items: center;
  .skinPotentialText{
    & > span {
      text-align: center;
      color: #3C164F;
      font-size: 24px;
      font-family: "Cormorant Garamond", sans-serif;
      font-weight: 800;
    }
  
    & > p {
      color: #555555;
      font-size: 16px;
      font-family: Poppins, sans-serif;
      text-align: center;
    }
  }
}
.skinPotentialImg {
  position: relative;
  width: 65px;
  margin-bottom: 30px;
  height: 65px;
  border-radius: 50%;
  background-color: rgb(253, 246, 255);

  & > img {
    position: absolute;
    bottom: -10px;
    left: 20px;
  }
}
.skinPotentialText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 672px;

  & > h2 {
    max-width: 600px;
    font-size: 50px;
    color: #3C164F;
    font-family: "Cormorant Garamond", sans-serif;
  }

  & > p {
    font-size: 16px;
    color: #555555;
    font-family: Poppins, sans-serif;
  }

  & > button {
    max-width: 120px;
    padding: 15px 0;
    margin-top: 15px;

    background-color: #3C164F;
    color: white;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    border: none;
  }
}
.skinPotentialBlocksColumnMiddle{
  display: none;
}
@media (max-width: 1277px) {
  .skinPotentialContent{
    margin: 0px 60px;
  }
  .skinPotentialBlocksColumn {
    gap: 15px;
  }
  .skinPotential {
    padding: 60px 0px;
  }
  .skinPotentialBlock {
    width: 160px;
    padding: 18px 6px;
    .skinPotentialImg{
      height: 0;
      & > img{
        position: static;
        width: 34px;
        margin-bottom: 12px;
        margin-left: 15px;

      }
      .skinPotentialImgImg{
        width: 28px;
      }
    }
    .skinPotentialText{
      margin-left: 0;
      gap: 0px;
      & > span{
        font-size: 16px;
        margin-bottom: 4px;
      }
      & > p{
        font-size: 10px;
        text-align: center;
        margin-left: 15px;
      }
    }
    }
    .skinPotentialText{
      & > h2{
        font-size: 35px;
      }
      & > p{
        font-size: 14px;
        width: 75%;
      }
      & > button{
        display: block;
        margin-bottom: 50px;
      }
    }
  }
@media (max-width: 576px) {
  .skincareOptimizerContainer{
    padding: 50px 0px;
  }
  .skinPotentialBlocksColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .skincareOptimizerContent{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    .skincareOptimizerTextParagraph{
      display: none;
    }
    .skincareOptimizerText{
      & > h2{
        width: 100%;
        font-size: 32px;
        margin-left: 20px;
      }
      .skincareOptimizerTextParagraphMiddle{
        display: block;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .skincareIngredientsContent{
    margin: 0 20px;
    & > h2{
      width: 100%;
      font-size: 32px;
      margin-bottom: 15px;
      margin: 0px 20px 15px;
    }
    & > p{
      width: 100%;
      font-size: 16px;
      text-align: center;
      margin: 0px 20px 0px;
    }
    & > button{
      margin-top: 30px;
    }
  }

  .skinPotentialContent{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    .skinPotentialText{
      margin: 0px 20px;
      & > h2{
        font-size: 32px;
        text-align: center;
      }
      & > p{
        font-size: 16px;
        text-align: center;
        width: 100%;
      }
      & > button{
        margin-left: 120px;
        margin-bottom: 30px;
      }
    }
  }
  .skinPotentialBlocks{
    position: static;
    display: flex;
    flex-direction: column;
    max-width: 568px;
    gap: 0px;
  }
  .skinPotentialBlock{
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .skinPotentialText{
      & > span {
        text-align: center;
        color: #3C164F;
        font-size: 24px;
        font-family: "Cormorant Garamond", sans-serif;
        font-weight: 800;
      }
    
      & > p {
        font-size: 14px;
        text-align: start;
      }
    }
  }
  .skinPotentialBlock {
    display: flex;  
    align-items: center; 
  }
  
  .skinPotentialImg {
    flex: 0 0 auto; 
    margin-right: 20px; 
  }
  
  .skinPotentialImg img {
    max-width: 100%;
  }
  
  .skinPotentialTitle {
    margin-top: 0;
  }
  
  .skinPotentialText {
    margin-bottom: 0;
  }
  .skinPotential {
    padding: 50px 0;
    background-color: rgba(253, 246, 255, 1);
  }
  .autocomplete {
    width: 390px;
    margin-top: 10px;
  }
}
.companyAdvantages {
  background-color: white;
  padding: 300px 0 120px 0;
}

.companyAdvantagesContent {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 170px;
    justify-content: space-around;
}

.companyAdvantagesBlock {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 40px;

    & > span {
        color: #3C164F;
        font-size: 96px;
        font-family: "Cormorant Garamond", sans-serif;
        font-weight: 800;
    }

    & > p {
        color: #555555;
        font-size: 16px;
      max-width: 100px;
        font-family: Poppins, sans-serif;
        text-align: center;
    }
  &:last-child {
    margin-top: 0;
  }
  &:last-child > p {
    margin-top: 40px;
  }
}

.trendingProducts {
  padding: 100px 0;
  background-color: rgba(253, 246, 255, 1);
}

@media (max-width: 1271px) {
  .companyAdvantages {
    background-color: white;
    padding: 120px 0 120px 0;
  }
  .companyAdvantagesContent{
    margin:0px 60px;
    gap: 50px;
  }
}
  @media (max-width: 950px) {
  .companyAdvantagesContent {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 170px;
    justify-content: space-around;
}
}
@media (max-width: 576px) {
  .companyAdvantages {
    background-color: white;
    padding: 50px 0 0;
  }
  .trendingProducts{
    padding-bottom: 50px;
  }
  .companyAdvantagesContent {
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    .companyAdvantagesBlock{
      border-bottom: 1px solid #000000;
      padding-bottom: 40px;
      &:last-child{
        border-bottom: none;
      }
    }
}
}