.container {
  padding: 40px 0;
  background-color: #FDF6FF;
  margin: 0 auto;
}

.navMenu {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

.navList {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navLink {
  text-decoration: none;
  color: #5b006a;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.navLink_active {
  font-weight: 500;
  text-decoration: none;
  color: #5b006a;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.navActions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navActionLink {
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.firstLink {
  border-right: 1px solid black;
}

.navSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 42px;
  width: 303px;
}

.navSearch__input {
  border: none;
  width: 100%;
  outline: none;
  padding: 6px 15px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

.navSearch__input::placeholder {
  color: #AAAAAA;
}

.navSearch__image_box {
  background-color: #5b006a;
  height: 100%;
  min-width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navSearch__image {
  height: 30px;
  width: 30px;
  color: white;
}

.secondMenu {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgb(28, 25, 60);
  position: absolute;
  transition: all 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}

@media (max-width: 1180px) {
  .navMenu {
    display: none;
    position: relative;
  }
  
  .burgerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .navSearch__image_box {
    background-color: transparent;
  }

  .navSearch__image {
    height: 40px;
    width: 40px;
    color: rgb(28, 25, 60);
  }

  .secondMenu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    width: 100%;
  }

  .burgerMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
  }

  .burgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    gap: 20px;
  }

  .burgerMenu a {
    color: #5b006a;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    padding: 15px 30px;
    border-radius: 5px;
    height: 50px;
  }

  .burgerMenu a:hover {
    background-color: #f0f0f0;
  }

  .navSecondActionLink {
    font-size: 20px;
    padding: 15px 30px;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
}