.title {
    font-size: 40px;
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
  color: #3C164F;
}

.subtitle {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
  max-width: 679px;
  color: #6E6E6E;
}

.labelSection {
  background-color: #FDF6FF;
}

.labelContainer {
  max-width: 1350px;
  margin: 0 auto;
  padding: 120px 0;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
    top: 0;
    left: 0;
  }
}
@media (max-width: 1280px) {
  .title{
    font-size: 40px;
    margin-left: 60px;
  }
  .subtitle{
    font-size: 14px;
    margin-left: 60px;
  }
}
@media (max-width: 700px) {
  .title{
    font-size: 32px;
    margin: 0px 20px 15px;
    text-align: center;
  }
  .subtitle{
    font-size: 16px;
    margin: 0px 20px;
    text-align: center;
  }

}

.productContainer {
  max-width: 1350px;
  margin: 0 auto;
  padding: 50px 0;

  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.navBar {
  border: 1px solid #E6E6E6;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  a {
    text-decoration: none;
    color: black;
  }
}

.leftSideBox {
  width: 370px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .leftSideBox{
    margin-left: 60px;
    max-width: 296px;
    .navBar{
    gap: 8px;
    .navItem{
      font-size: 10px;
      padding: 5px 12px;
    }
  }
}
}
@media (max-width: 700px) {
  .navBar{
    display: none;
  }
  .blockInfo{
    display: none;
  }

}

.navItem {
  padding: 20px 15px;
  background-color: #F2F2F2;
  color: black;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.productContent {
  background-color: white;
}

.productInfoContent {
  width: 100%;
}

.productInfoImage {
  max-width: 289px;
  padding: 10px 0;

  border: 1px solid #E6E6E6;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 971px) {
  .leftSideBox{
    display: none;
  }
}
@media (max-width: 700px) {
  .leftSideBox{
    display: none;
  }
  .blockInfo{
    display: none;
  }

}
.blockInfo {
  padding: 40px 30px;
  width: 370px;
  margin-top: 30px;
  text-align: center;
  background-color: rgba(60, 22, 79, 1);

  & > h3 {
    font-size: 32px;
    font-family: "Cormorant Garamond", serif;
    line-height: 48px;
    max-width: 310px;
    color: white;
  }

  & > button {
    border: none;
    margin-top: 30px;
    padding: 15px 40px;
    background-color: white;
    color: rgba(60, 22, 79, 1);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}
@media (max-width: 1280px) {
  .blockInfo{
    max-width: 296px;
    padding: 32px 24px;
    & > h3{
      font-size: 25px;
    }
    & > button{
      font-size: 14px;
    }
  }
}
.productInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productInfoBox {
  display: flex;
  gap: 30px;
  color: #555555;
  font-family: Poppins, sans-serif;

  h3 {
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    color: #3C164F;
    max-width: 600px;
  }
}

.productRating {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.productIconsBox {
  display: flex;
  align-items: center;
  gap: 20px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  padding: 0 10px;
}

.productIconBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.productRatingBox {
  display: flex;
  gap: 5px;
  align-items: center;
}

.productActionsBox {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    gap: 10px;
    flex-direction: column;
    width: 96px;
    height: 96px;
    border: 1px solid #E6E6E6;
  }
}

.productActionsBoxImage {
  width: 30px;
  height: 30px;
}

.productInfoLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}

.productInfoLink {
  display: flex;
  margin-top: 20px;
  background-color: #FDF6FF;
  border: 1px solid #3C164F;
  padding: 9px 15px;
  cursor: pointer;
  transition: all 0.3s;

  span {
    font-size: 24px;
    font-family: "Cormorant Garamond", serif;
    color: #3C164F;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #6E6E6E;
  }

  &:hover {
    background-color: #3C164F;
    color: white;

    span {
        color: white;
    }

    p {
        color: white;
    }
  }
}

.productOverviewContent {
  margin-top: 50px;

  span {
    font-size: 36px;
    font-family: "Cormorant Garamond", sans-serif;
    color: #3C164F;
    text-transform: uppercase;
  }
}

.productOverviewBoxes {
    display: flex;
    gap: 30px;
    margin-top: 20px;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  padding: 20px 30px;
}

.productOverviewBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  span {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #000000;
    padding-left: 20px;
  }

  & > div {
    background-color: #FDF6FF;
    padding: 10px 20px;
  }
}

.productIngredientsList {
    display: flex;
    gap: 20px;
    padding-top: 50px;
  flex-direction: column;

  span {
    font-size: 36px;
    font-family: "Cormorant Garamond", sans-serif;
    color: #3C164F;
    text-transform: uppercase;
  }
}

.productIngredientsBoxes {
    display: flex;
    gap: 10px;
  border: 1px solid #E6E6E6;
  padding: 20px 30px;
  flex-wrap: wrap;
}

.productIngredientsBox {
  background-color: #F2F2F2;
  padding: 10px 15px;
  white-space: nowrap;
  border-radius: 30px;

  font-family: Poppins, sans-serif;
  color: black;
  font-size: 16px;
}
.productInfoBoxMiddle{
  display: none;
}
@media (max-width: 1280px) {
  .productInfoImage{
    height: 219px;
  }
  .productInfoBox{
    gap: 20px;
  }
  .productInfo{
    & > h3{
      font-size: 26px;
      max-width: 383px;
    }
    .productRating{
      margin-top: 10px;
      .productRatingBox{
        max-width: 98px;
        font-size: 10px;
        .productRatingBoxStar{
          font-size: 11.64px;
        }
  
      }
    }
    .productUpdateBox{
      font-size: 8px;
    }
    .productIconsBox{
      gap: 20px;
      font-size: 10px;
      .productIconBox1{
        width: 11.46px;
      }
    }
  }
  .productActionsBox{
    margin-top: 10px;
    gap: 12px;
    padding: 0;
    & > div{
      gap: 0;
      padding: 0;
      width: 47px;
      height: 48px;
      font-size: 8px;
      .productActionsBoxImage{
        width: 11.48px;
      }
    }
  }
  .productInfoLinks{
    gap: 10px;
    .productInfoLink{
      width: 120px;
      padding: 0 12px;
      & > div{
        & > span{
          font-size: 20px;
        }
        & > p{
          font-size: 6px;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .productOverviewContent{
    padding-right: 52px;
    margin-top: 32px;
    & > span{
      font-size: 24px;
    }
    .productOverviewBoxes{
      padding: 8px 10px;
      .productOverviewBox{
        & > p{
          font-size: 12px;
        }
        & > div{
          & > span{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .productIngredientsList{
    & > span{
      font-size: 24px;
    }
    .productIngredientsBox{
      font-size: 8px;
    }
  }
}
@media (max-width: 700px) {
  .productOverviewBoxes{
    gap: 29px;
  }
  .productRatingMiddle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 34.89px;
    margin: 0px 50px;
    .productRatingBoxMiddle{
      display: flex;
      align-items: center;
    }
    .productIconsBoxMiddle{
      display: flex;
      flex-direction: row;
      gap: 25px;
      .productIconBoxMiddle{
        color: #555555;
        display: flex;
        align-items: center;
      }
    }
  }
  .productUpdateBoxMiddle{
    font-size: 20px;
    color: #555555;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 30px;
  }
  .productInfoBoxMiddle{
    display: block;
  }
  .productInfoBox{
    display: none;
  }
  .productInfoImageMiddle{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 60px;
  }
  .productContainer{
    gap: 0;
  }
  .productInfoImageMiddle{
    & > img{
      width: 234px;
      height: 282px;
    }
  }
  .productActionsBoxImageMiddle{
    width: 23px;
    height: 30.75px;
  }
  .productActionsBoxMiddle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      cursor: pointer;
      gap: 10px;
      flex-direction: column;
      width: 76px;
      height: 76px;
      border: 1px solid #E6E6E6;
      margin-left: 20px;
    }
  }
  .productInfoMiddle{
    margin-top: 20px;
    & > h3{
        font-size: 32px;
        font-family: "Cormorant Garamond", serif;
        color: #3C164F;
        max-width: 600px;
        text-align: center;
        margin-bottom: 21px;
    }
  }
  .productInfoLinks{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .productInfoLinks{
    .productInfoLink {
      padding: 10px 15px;
      justify-content: space-between;
      display: flex;
      width: 390px;
      margin-top: 0;
      background-color: #FDF6FF;
      border: 1px solid #3C164F;
      padding: 10px 15px;
      cursor: pointer;
      div{
        margin-right: 100px;
        & > span{
          font-size: 24px;
        }
        & > p{
          font-size: 10px;
        }
      }
    }
  }
  .productOverviewContent {
   width: 100%;
   padding: 0px 20px;

    span {
      font-size: 32px;
      text-align: center;
      font-family: "Cormorant Garamond", sans-serif;
      color: #3C164F;
      text-transform: uppercase;
    }
    .productOverviewBoxes{
      .productOverviewBox{
        gap: 0;
        & > div{
          padding: 0;
          margin-bottom: 24px;
          & > span {
            font-size: 20px;
          }
        }
        & > p {
          padding: 0;
          text-align: start;
          font-size: 16px;
        }
      }
    }
  }
  .productIngredientsList{
    padding: 50px 20px 0px;
    span{
      font-size: 32px;
      text-align: center;
      font-weight: 700;
    }
    .productIngredientsBoxes{
      width: 100%;
      padding:20px;
      .productIngredientsBox{
        font-size: 16px;
      }
    }
  }
}

.navItemActive {
  background-color: #FDF6FF;
  color: #3C164F;
  border: 1px solid #3C164F;
}

.ingredientInfo {
    display: flex;
  flex-direction: column;
    gap: 20px;
    padding-top: 50px;

  span {
    font-size: 36px;
    font-family: "Cormorant Garamond", sans-serif;
    color: #3C164F;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #6E6E6E;
  }
}

.ingredientsInfoList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  & > div {
    display: flex;
    width: 32%;
    gap: 10px;
    align-items: center;

    color: black;
    font-family: Poppins, sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .ingredientInfo{
    padding-top: 20px;
    & > span{
      font-size: 24px;
  
    }
    & > p{
      font-size: 14px;
      
    }
    .ingredientsInfoList{
      & > div{
        font-size: 14px;
      }
    }
  }

}
@media (max-width: 700px) {
  .ingredientInfo{
    gap: 0;
    span{
      font-size: 32px;
      text-align: center;
      margin-bottom: 15px;
    }
    p{
      font-size: 16px;
      color: #000000;
      margin: 0px 20px 30px;
    }
    .ingredientsInfoList{
      text-align: center;
      gap: 0px;
      margin-left: 36px;
      div{
        width: 50%;
        white-space: nowrap;
        margin-bottom: 21px;
        font-size: 16px;
      }
    }
  }
}